body{
  margin: 2% 5%;
  background-color: yellow;
  font-family: arial;
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

ul{
  list-style-type: none;
}

li {
  font-size: 2em;
  padding: 7px;
}

table {
  border-collapse: collapse;
}

td {
  width: 250px;
  font-size: 1.5em;
  border: 1px solid black;
  padding: 10px;
}

.headerIcon {
  width: 400px;
  margin-left: auto;
}

.nameHeader {
  background-color: gold;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.header {
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
}

.back {
  font-size: 1.5em;
}

.button {
  border: none;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px;
}

.button1 {
  background-color: #164274;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.button2 {
  background-color: #BA43DE;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.button3 {
  background-color: #DE434E;
  border: none;
  border-radius: 15px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.button4 {
  background-color: #8A9C14;
  border: none;
  border-radius: 15px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.button5 {
  background-color: #DE4367;
  border: none;
  border-radius: 15px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.button6 {
  background-color: #343409;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.button7 {
  background-color: #8601AF;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.buttonback {
  background-color: #555555;
  color: white;
  font-size: 20px;
}

.alternate {
  background-color: gold;
}

.copyright {
  text-align: center;
  padding-top: 150px;
  font-family: "Times New Roman";
}
